*{
	margin: 3%;
    padding: 0;
    list-style: none;
	text-decoration: none;
	font-family: Helvetica;
	color: #4d4d4d;
}	

html{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #ffffff;
	margin-top: 0!important;
	margin-bottom: 0!important;
}

a{
	margin: 0;
}

header, ul, nav-items, .main-item, 
.highlights, footer, .social, .footer-items,
 .popular-list, .interaction,.interactive-icon{
    display: flex;
}

header{
	justify-content: space-between;
	align-items: center;
	margin: 0!important;
	padding-bottom: 4%;
	width: 100%;
	height: 30px;
}

nav {
	margin: 0!important;
}

.logo{
	height: 50px;
	width: 100px;
	margin: 0!important;
}

.nav-items{
	width: 200px;
	justify-content: space-between;
}


.nav-item{
	padding-right: 10%;
}

h1, .main-item-description{
	padding-left: 5%;
	padding-bottom: 10%;
}

h1{
	font-size: 45px!important;
	font-weight: lighter;
	letter-spacing: 1px;
}

.main-item-description{
	font-size: 13px;
	padding-bottom: 15%;
}

.button{
	border-radius: 4px;
	background-color: #f5f5f5;
	margin-top: 4%;
	margin-left: 7%;
	padding: 5%;
	padding-right: 8%;
	padding-left: 8%;
}

.main-item{
	margin: 0;
	margin-top: 4%;
	justify-content: space-between;
}

.main-stuff{
	margin-right: 10%;
	margin-left: 5%;
}

.main-img{
  width: 500px;
  height: 500px;
  padding-bottom: 0%;
  margin-right: 5%;
  margin-top: -5%;
}

.highlights{
	height: 450px;
	justify-content: space-between;
	align-items: flex-end;
}

.highlight-item1{
	width: 230px;
  	height: 228px;
}

.highlight-item2{
	width: 270px;
  	height: 342px;
}

.highlight-item3{
  	width: 194px;
  	height: 194px;
}

.popular{
	align-items: center;
	padding: 0;
	margin: 0;
}

.popular-list{
	flex-wrap: wrap;
    justify-content: space-around;
}

.popular-img{
	width: 300px;
  	height: 300px;
}

h3{
	padding-top: 10%;
	padding-bottom: 2%;
	text-align: center;
	font-weight: lighter;
}

.item-description{
	text-align: center;
	padding-bottom: 10%;
	white-space: nowrap;
}

.interaction{
	justify-content: space-between;
}

.interactive-icon{
	justify-content: space-between;
	flex-wrap: nowrap;
}

.why-us{
	display: flex;
	justify-content: space-between;
}

.why-us-img{
	width: 300px;
  	height: 180px;
}

.box{
	width: 40px;
	height: 40px;
	position: absolute;
	background-color: white;
	margin: 0;
	margin-left: 20px;
	margin-top: 130px;
}

.desc{
	position: absolute;
	color: white;
}

.num{
	padding: 10px;
	color: black;
	font-style: italic;
}

footer{
	display: block!important;
	position: relative;
	background-color: #ededed;
	align-items: center;
}

.footer-items{
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	margin-left: -3%;
}

.footer-logo{
	position: relative;
	margin: 0;
	height: 85px;
	width: 85px;
	left: 100px;
	bottom: 20px;
}

/*hr{
    display: block;
    height: 1px;
    width: 95%;
    border: 0;
    border-top: 2px solid #ccc;
    position: relative;
    margin: 1em 0;
    padding: 0;
    margin: auto;
    margin-top: 5%;
}*/

.social{
	justify-content: flex-end;
	position: relative;
	margin: 0;
	margin-right: 11%;
}

.social-icons{
	margin: 0;
	padding-bottom: 2%;
}

.social-icon{
	margin-left: 25px;
}

path#cart:hover{
	fill: #fc0352;
	stroke: #fc0352;
}

path#heart:hover{
	stroke: #fc0352;
}

.product-title{
	font-size: 20px!important;
}

.product-stuff{
	margin: 0;
}


.buy-button{
	margin: 0;
	margin-left: 10%; 
	margin-right: 10%;
	padding: 7%;
	padding-left: 15%;
	padding-right: 15%;
}

.product-interaction{
	width: 300px;
	display: flex;
	margin-top: -12%;
}

.active {
	background-color: #ECF0F1!important;
    border-color: #ECF0F1!important;
    color: #BDC3C7;
    cursor: not-allowed;
}

.price{
	font-size: 30px;
	margin: 0;
	padding-left: 7.5%;
	padding-bottom: 1%;
	font-weight: lighter;
}